@model IEnumerable<WidgetDM>
@{
    ViewData["Title"] = "Widget Page";
}

<div class="text-center">
    <h1 class="display-4">Widgets!</h1>
</div>
<p>
    <a asp-action="Add">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WidgetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WidgetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WidgetId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WidgetId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WidgetId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>